 body {
    margin: 0 auto;
    padding: 0;
} 

#navbar {
    background-color: gray;
    overflow: hidden;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}

#welcome-section {
    height: 100vh;
}
/* 
@media screen (min-width: 500px) {
        #welcome-section {
            font-size: 80px;
            color: aqua;
        }
    } */

@media screen and (max-width: 480px) {
  html {
    font-size: 60%;
  }
}

@media screen and (min-width: 480px) {
  #welcome-section {
    background-color: lightgreen;
  }
}

.container {
    background-color: yellow;
    width: 600px;
    margin: 0 auto;
    color: darkblue;
}

.projects {
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}